{% extends "base.html.twig" %}

{% block body %}

    <h1>Catégorie : {{ category.label }}</h1>

    <section class="row">
        <h2>Trouvés</h2>
        {% for traobject in traobjects if traobject.state.label == 'Trouvé' %}
            {% include 'traobject/card.html.twig' with {'traobject': traobject} only %}
        {% endfor %}
    </section>

    <section class="row">
        <h2>Perdu</h2>
        {% for traobject in traobjects if traobject.state.label == 'Perdu' %}
            {% include 'traobject/card.html.twig' with {'traobject': traobject} only %}
        {% endfor %}
    </section>

{% endblock %}
