{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Catégorie : {{ category.label }}</h1>

        <div class="m-2">
            <section>
                <h2>Trouvés :</h2>
                <div class="d-flex">
                    {% for traobject in traobjects if traobject.state.label == 'Trouvé' %}
                        {% include 'traobject/card.html.twig' with {'traobject': traobject} only %}
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="m-2">
            <section>
                <h2>Perdu :</h2>
                <div class="d-flex">
                    {% for traobject in traobjects if traobject.state.label == 'Perdu' %}
                        {% include 'traobject/card.html.twig' with {'traobject': traobject} only %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>

{% endblock %}
